@page "/click-to-edit-3/contact/{id:guid}"
@page "/click-to-edit-3/contact/{id:guid}/edit"
@inject NavigationManager navMan
@code {
    private bool editMode;

    [SupplyParameterFromForm]
    public Contact Contact { get; set; } = null!;

    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        editMode = navMan.Uri.EndsWith("/edit", StringComparison.OrdinalIgnoreCase);

        if (Contact is not null)
        {
            DataStore.Store(Contact with
            {
                Id = Id,
            });
        }

        Contact = DataStore.GetOrDefault<Contact>(Id) ?? new Contact
        {
            Id = Guid.NewGuid()
        };
        Id = Contact.Id;
    }
}
@if (editMode)
{
    <EditForm Model="@Contact" hx-put=@($"/click-to-edit-3/contact/{Id}") hx-target="this" hx-swap="outerHTML">
        <div>
            <label>First Name</label>
            <InputText @bind-Value="@Contact.FirstName" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <InputText @bind-Value="@Contact.LastName" />
        </div>
        <div class="form-group">
            <label>Email Address</label>
            <InputText type="email" @bind-Value="@Contact.Email" />
        </div>
        <button class="btn">Submit</button>
        <button class="btn" hx-get="/click-to-edit-3/contact/@Id">Cancel</button>
    </EditForm>
}
else
{
    <div hx-target="this" hx-swap="outerHTML">
        <div><label>First Name</label>: @Contact.FirstName</div>
        <div><label>Last Name</label>: @Contact.LastName</div>
        <div><label>Email</label>: @Contact.Email</div>
        <button hx-get="/click-to-edit-3/contact/@Id/edit" class="btn btn-primary">
            Click To Edit
        </button>
    </div>
}