@page "/foo/bar"
@inject ContactsRepository repo
<table>
    <tbody>
        <HtmxContent>
            @foreach (var contact in repo.All().Result)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selected" value="@contact.Id" />
                    </td>
                    <td>@contact.First</td>
                    <td>@contact.Last</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Email</td>
                </tr>
            }
        </HtmxContent>
    </tbody>
</table>